spring:
  application:
    name: api-usinas
  datasource:
    url: jdbc:postgresql://localhost:5432/bolt_usinas
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          format_sql: true
          dialect: org.hibernate.dialect.PostgreSQLDialect